<div class="modal fade" id="custom-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="custom-modal-content">
            <div class="custom-modal-header">
                <i class="custom-modal-title-icon"></i>
                <h1 class="custom-modal-title"></h1>
            </div>
            <div class="custom-modal-body">
                <p class="text-title"></p>
                <p class="text-body"></p>
            </div>
            <div class="custom-modal-footer">
                <a href="" class="button-primary">
                    <span class="button-primary-text"></span>
                </a>
                <button type="button" class="button-secondary" data-bs-dismiss="modal">
                    <span class="button-secondary-text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/Styles/Shared/custom-modal.css")