:root {
    --danger-content-background-color: #FFF7F2;
    --danger-header-background-color: #DC143C;
    --danger-primary-button-font-color: #DC143C;
    --danger-primary-button-border-color: #DC143C;
    --danger-primary-button-hover-background-color: #DC143C;
    --danger-primary-button-hover-font-color: #FDFDFD;
    --danger-primary-button-hover-border-color: #DC143C;
    --default-header-font-color: #FDFDFD;
    --default-button-background-color: #FDFDFD;
    --default-button-font-color: #606060;
    --default-button-border-color: #E0E0E0;
    --default-secondary-button-hover-background-color: #DDDDDD;
    --default-secondary-button-hover-font-color: #606060;
    --default-secondary-button-hover-border-color: #606060;
    --success-primary-button-font-color: #14DC3C;
    --success-primary-button-border-color: #14DC3C;
    --success-primary-button-hover-background-color: #14DC3C;
    --success-primary-button-hover-font-color: #FDFDFD;
    --success-primary-button-hover-border-color: #14DC3C;
}

#generic-admin-modal {
    padding-top: 5rem;
    z-index: 1055;
}

    #generic-admin-modal .custom-modal-content {
        border-radius: 2rem;
        overflow: hidden;
        width: 100%;
        pointer-events: auto;
        position: relative;
    }

        #generic-admin-modal .custom-modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--danger-content-background-color);
            z-index: -1;
        }

        #generic-admin-modal .custom-modal-content .custom-modal-header {
            padding: 2rem;
            background-color: var(--danger-header-background-color);
            display: flex;
            flex-direction: column;
        }

            #generic-admin-modal .custom-modal-content .custom-modal-header h1, i {
                color: var(--default-header-font-color);
                text-align: center;
            }

            #generic-admin-modal .custom-modal-content .custom-modal-header i {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            #generic-admin-modal .custom-modal-content .custom-modal-header h1 {
                font: 200 2em/1em Raleway, Sans-Serif;
                text-transform: initial;
                margin: 0;
            }

        #generic-admin-modal .custom-modal-content .custom-modal-body {
            padding: 2rem;
            font: 200 2em/1em Raleway, Sans-Serif;
        }

            #generic-admin-modal .custom-modal-content .custom-modal-body p {
                font: 200 Raleway, Sans-Serif;
                letter-spacing: 0.015em;
                font-size: 16px;
                text-align: center;
            }

            #generic-admin-modal .custom-modal-content .custom-modal-body .text-title {
                font-weight: 400;
            }

            #generic-admin-modal .custom-modal-content .custom-modal-body .text-body {
                margin-bottom: 0;
            }

        #generic-admin-modal .custom-modal-content .custom-modal-footer {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }

            #generic-admin-modal .custom-modal-content .custom-modal-footer .button-primary, .button-secondary {
                padding: 0.3rem 1rem;
                background: var(--default-button-background-color);
                letter-spacing: 0.075em;
                line-height: 2rem;
                font-family: Raleway, Open Sans, Arial;
                font-weight: 300;
                font-size: 0.85em;
                transition: 0.75s all;
                margin: 0 0.5rem;
                border-radius: 1.5rem;
                border: 1px solid;
                text-decoration: none;
            }

            #generic-admin-modal .custom-modal-content .custom-modal-footer .danger.button-primary {
                border-color: var(--danger-primary-button-border-color);
                color: var(--danger-primary-button-font-color);
            }

                #generic-admin-modal .custom-modal-content .custom-modal-footer .danger.button-primary:hover {
                    border-color: var(--danger-primary-button-hover-border-color);
                    color: var(--danger-primary-button-hover-font-color);
                    background-color: var(--danger-primary-button-hover-background-color);
                }

            #generic-admin-modal .custom-modal-content .custom-modal-footer .success.button-primary {
                border-color: var(--success-primary-button-border-color);
                color: var(--success-primary-button-font-color);
            }

                #generic-admin-modal .custom-modal-content .custom-modal-footer .success.button-primary:hover {
                    border-color: var(--success-primary-button-hover-border-color);
                    color: var(--success-primary-button-hover-font-color);
                    background-color: var(--success-primary-button-hover-background-color);
                }


            #generic-admin-modal .custom-modal-content .custom-modal-footer .button-secondary {
                border-color: var(--default-button-border-color);
                color: var(--default-button-font-color);
            }

                #generic-admin-modal .custom-modal-content .custom-modal-footer .button-secondary:hover {
                    border-color: var(--default-secondary-button-hover-border-color);
                    color: var(--default-secondary-button-hover-font-color);
                    background-color: var(--default-secondary-button-hover-background-color);
                }
