@{
    ViewBag.Title = "Home Page";
}

<div id="indexCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#indexCarousel" data-slide-to="1"></li>
        <li data-target="#indexCarousel" data-slide-to="2"></li>
        <li data-target="#indexCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="d-block w-100" src="~/Content/Images/banner-dog.jpg">
            <div class="carousel-caption carousel-caption-custom-position d-none d-md-block bg-dark mb-4" style="background-color: rgba(255, 221, 204, 0.2); ">
                <h1>¿Quienes somos?</h1>
                <p>Somos un refugio de mascotas listas para la adopción. Conócenos más.</p>
            </div>
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/Content/Images/banner-dog-cat.jpg">
            <div class="carousel-caption carousel-caption-custom-position d-none d-md-block bg-dark mb-4" style="background-color: rgba(255, 221, 204, 0.2); ">
                <h1>Especialistas al cuidado de nuestros amigos</h1>
                <p>Contamos con un staff de profesionales y colaboradores al cuidado de los animales.</p>
            </div>
        </div>
        <div class="item">
            <img class="d-block w-100" src="~/Content/Images/banner-bunny.jpg">
            <div class="carousel-caption carousel-caption-custom-position d-none d-md-block bg-dark mb-4" style="background-color: rgba(255, 221, 204, 0.2); ">
                <h1>Nuestros pequeñas integrantes</h1>
                <p>Perros, gatos, conejos y otras especies viven en nuestro refigio. Ayuda apadrinándolos.</p>
            </div>

        </div>
        <div class="item">
            <img class="d-block w-100" src="~/Content/Images/banner-guinea-pig.jpg">
            <div class="carousel-caption carousel-caption-custom-position d-none d-md-block bg-dark mb-4" style="background-color: rgba(255, 221, 204, 0.2); ">
                <h1>Contáctanos</h1>
                <p>Adopciones, consultas, donaciones. Contáctanos con tus inquietudes o colaboraciones.</p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#indexCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#indexCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="container body-content">
    <div class="row row-card">
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row row-card">
            <div class="col-sm-12 card-container">
                <div class="card-custom">
                    <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                    <div class="card-custom-body">
                        <h1>Refugio "Mi Refugio"</h1>
                        <p class="card-text">
                            Fundado en 2006, somos un refugio dedicado en alma y corazón a los animales. Perros, gatos, conejos, cobayos, cabras y otras especies encuentran protección y ayuda gracias
                            a nuestros colaboradores y especialistas. Nos ubicamos en la zona de Luján (Provincia de Buenos Aires), con un gran espacio verde para tratar de darles la vida plena que ellos merecen. <br />
                            De diversas edades, alvergamos tanto animales jóvenes como aquellos que transitan la última etapa de su vida. Los animales discapacitados también cuentan con un espacio propio y dedicado a sus necesidades. <br />
                            Siempre es de ayuda alimento de calidad, controladores parasitarios, medicamentos, y tiempo para mejorar las instalaciones o darle amor a nuestras pequeñas luces que guian nuestras vidas. <br />
                            Súmate a nuestro staff, acércate a nuestro predio y descubre un momento único en el que conectarás con animales de distintas especies.
                        </p>
                        <a href="#" class="btn btn-primary">Ir a donaciones</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-card">
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-container">
            <div class="card-custom">
                <img class="card-custom-body" src="~/Content/Images/petting-dog.jpg" style="width:100%;" alt="Card image cap">
                <div class="card-custom-body">
                    <h5 class="card-title">¡Sé parte y ayúdanos!</h5>
                    <p class="card-text">Nos puedes ayudar donando mensualente o las veces que quieras. Haz click aquí y averigua cómo hacerlo</p>
                    <a href="#" class="btn btn-primary">Ir a donaciones</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div><script src="~/Scripts/Views/Index.js"></script>